<div *ngIf=load class="background">
    <div class="loader">
        <div class="loader-circle">
            <div class="loader-circle">
                <div class="loader-circle">
                    <div class="loader-circle">
                        <div class="loader-circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid all">
    <div class="row">
        <div class="col-lg-2">
            <div class="update">
                <div *ngIf=!update>
                    <form (ngSubmit)="updatedetailsboard(f)" #f="ngForm">
                        <div class="form-group">
                            <label for="listname">Description</label>
                            <textarea
                            placeholder = "Enter Description Here"
                            rows="5"
                            id="description" 
                            name="description"
                            ngModel
                            class="form-control"></textarea>
                            <label for="bName">Board Name</label>
                            <input 
                            placeholder = "Enter Board Name"
                            type="text"
                            id="bName" 
                            name="bName"
                            ngModel
                            class="form-control" 
                            required
                            #bName="ngModel">
                            <span
                            class="help-block"
                            *ngIf="!bName.valid && bName.touched"
                            style="color:red;">Board Name cannot be empty</span>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-success mybutton" [disabled]="!f.valid">Update Board</button>
                        </div>
                    </form>
                        <div *ngIf=!bookmark>
                            <button class="bookmark" (click)="addbookmark()">
                                <img src="assets/images/bookmark.png" alt="bookmark">
                            </button>
                        </div>
                        <div *ngIf=bookmark>
                            <button class="bookmark" (click)="deletebookmark()">
                                <img src="assets/images/bookmarkadded.png" alt="bookmarkadded">
                            </button>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-lg-10">
            <div class="row">
            <div style="margin-bottom:1rem;" *ngFor="let lists of lists, index as id">
                <div class="list-group-item box">
                    <div class="pull-left">
                        <h4
                        class="list-group-item-heading listname">
                            {{lists.name}}
                        </h4>
                    </div>
                    <div *ngFor="let cards of lists.cards, index as id">
                        <div class="list-group-item" (click)=expandcard(lists.id,cards.id,cards.name,cards.description,cards.priority)>
                            <p class="list-group-item-heading pull-left">
                                {{cards.name}}
                            </p>
                        </div>
                    </div>
                    <button (click)=showinputcard(lists.id) class="btn btn-primary">Add Card</button>
                </div>
            </div>
            <div class="list-group-item boxadd">
            <div *ngIf=!wantaddlist class="addlist">
                <button (click)=showinput() class="btn btn-primary">Add Another List</button>
            </div>
            <div *ngIf=wantaddlist>
                <form (ngSubmit)="addlist(f)" #f="ngForm">
                    <div class="form-group">
                        <input 
                        placeholder = "Enter List Name"
                        type="text"
                        id="name" 
                        name="name"
                        ngModel
                        class="form-control" 
                        required
                        #name="ngModel">
                        <span 
                        class="help-block"
                        *ngIf="!name.valid && name.touched"
                        style="color:red;">Enter a valid List Name</span>
                    </div>
                    <button type="submit" class="btn btn-success mybutton" [disabled]="!f.valid">Add List</button>
                    <button (click)="hideinput()" class="btn btn-danger mybutton"><span class="glyphicon glyphicon-remove"></span> Remove</button>
                </form> 
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
<div *ngIf=wantaddcard class="add-card-background">
    <div class="contain-add-card">
        <form (ngSubmit)="addcard(f)" #f="ngForm" class="addcard">
            <div class="form-group">
                <input 
                placeholder = "Enter Card Name"
                type="text"
                id="cname"
                name="cname"
                ngModel
                class="form-control" 
                required
                #cname="ngModel">
                <span 
                class="help-block"
                *ngIf="!cname.valid && cname.touched"
                style="color:red;">Enter a valid Card Name</span>
            </div>
            <button type="submit" class="btn btn-success mybutton" [disabled]="!f.valid">Add Card</button>
            <button (click)="hideinputcard()" class="btn btn-danger mybutton">
                <span class="glyphicon glyphicon-remove"></span> Remove
            </button>
        </form> 
    </div>
</div>
<div *ngIf=updatecards class="add-card-background">
    <div class="contain-update-card">
        <button class="btn btn-success mybutton" (click)="prepopulate()">prepopulate</button>
        <form (ngSubmit)="updatecard(fcard)" #f="ngForm" class="addcard">
            <div class="form-group">
                <input 
                placeholder = "Enter Card Name"
                type="text"
                id="cname"
                name="cname"
                ngModel
                class="form-control" 
                required
                #cname="ngModel">
                <span 
                class="help-block"
                *ngIf="!cname.valid && cname.touched"
                style="color:red;">Enter a valid Card Name</span>
                <label for="listname">Description</label>
                <textarea
                placeholder = "Enter Description Here"
                rows="5"
                id="description"
                name="description"
                ngModel
                class="form-control"></textarea>
                <label for="priority">Task Priority</label>
                <input 
                type="radio"
                name="priority"
                value="High"
                ngModel
                required> High
                <input 
                type="radio"
                name="priority"
                value="Medium"
                ngModel
                required> Medium
                <input 
                type="radio"
                name="priority"
                value="Low"
                ngModel
                required> Low
            </div>
            <button type="submit" class="btn btn-success mybutton" [disabled]="!f.valid">Update Details</button>
            <button (click)="hideinputcard()" class="btn btn-danger mybutton">
                <span class="glyphicon glyphicon-remove"></span> Remove
            </button>
        </form> 
    </div>
</div>