<style>
    @import url('https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap');
</style>
<div *ngIf=load class="background">
    <div class="loader">
        <div class="loader-circle">
            <div class="loader-circle">
                <div class="loader-circle">
                    <div class="loader-circle">
                        <div class="loader-circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg">
    <div class="row">
        <!-- <div class="col-md-6"></div> -->
        <div class="col-md-4 col-sm-12">
            <div class="box">
            <div class="head">
                <h4><b>SignUp</b></h4>
            </div>
            <form (ngSubmit)="onSignup(f)" #f="ngForm">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input
                    placeholder = "Name" 
                    type="name" 
                    id="fullName" 
                    name="fullName" 
                    ngModel 
                    class="form-control"
                    required 
                    #fullName="ngModel">
                    <span 
                    class="help-block"
                    *ngIf="!fullName.valid && fullName.touched"
                    style="color:red;">Enter a valid Name</span>
                </div>
                <div class="form-group">
                    <label for="username">UserName</label>
                    <input
                    placeholder = "UserName" 
                    type="userName" 
                    id="userName" 
                    name="userName" 
                    ngModel 
                    class="form-control"
                    required 
                    #userName="ngModel">
                    <span 
                    class="help-block"
                    *ngIf="!userName.valid && userName.touched"
                    style="color:red;">Enter a valid UserName</span>
                </div>
                <div class="form-group">
                    <label for="email">E-Mail</label>
                    <input 
                    placeholder = "E-Mail"
                    type="email" 
                    id="email" 
                    name="email"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                    ngModel
                    class="form-control"
                    required
                    #email="ngModel">
                    <span 
                    class="help-block"
                    *ngIf="!email.valid && email.touched"
                    style="color:red;">Enter valid E-mail</span>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                    placeholder = "Password"
                    type="password" 
                    id="password" 
                    name="password" 
                    ngModel 
                    class="form-control"
                    required 
                    [minlength]="6"
                    #password="ngModel">
                    <span
                    class="help-block"
                    *ngIf="!password.valid && password.touched"
                    style="color:red;">Enter minimum 6 character password</span>
                </div>
                <div class="form-group">
                    <label for="cpassword">Confirm Password</label>
                    <input
                    placeholder = "Confirm Password"
                    appConfirmPassword="password"
                    type="password" 
                    id="confirmPassword" 
                    name="confirmPassword" 
                    ngModel 
                    class="form-control"
                    required 
                    [minlength]="6"
                    #confirmPassword="ngModel">
                    <span
                    class="help-block"
                    *ngIf="confirmPassword.touched && confirmPassword.errors?.required "
                    style="color:red;">Confirm Password is required</span>
                    <span
                    class="help-block"
                    *ngIf="confirmPassword.touched && confirmPassword.errors?.notEqual &&
                    !confirmPassword.errors?.required" 
                    style="color:red;">Password doesn't match</span>
                </div>
                <button type="submit" class="btn btn-success mybutton"  [disabled]="!f.valid">SignUp</button>
            </form>
            <p class="foot">Already on TaskR ? <a routerLink='/login'>LogIn</a></p>
        </div>
    </div>
    <div class="col-md-6"></div>
    </div>
</div>