.section1 {
    height:89.5vh;
    width:100%;
}
.vector img {
    position:relative;
    top:6rem;
    width:35rem;
}
.text {
    position:relative;
    top:6rem;
    padding:50px;
}
.text h2 {
    position:relative;
    top:60px;
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    color:#173E43;
}
.text h3 {
    position:relative;
    top:90px;
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    color:#173E43;
}
.box {
    position: relative;
    top:16rem;
    height:15px;
    width:45px;
    background-color:#3FB0AC;
    animation:move 4s alternate infinite;
}
.rotate {
    position:relative;
    width:6rem;
    animation:rotate 5s linear infinite;
}
.section2 {
    height:100vh;
    width:100%;
}
@keyframes rotate {
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}
@keyframes move {
    0%{transform:translateX(0px);}
    100%{transform:translateX(25rem);}
}