<style>
    @import url('https://fonts.googleapis.com/css?family=Montserrat|Poppins|Roboto&display=swap');
</style>
<!-- Loader -->
<div *ngIf=load class="background">
    <div class="loader">
        <div class="loader-circle">
            <div class="loader-circle">
                <div class="loader-circle">
                    <div class="loader-circle">
                        <div class="loader-circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Loader -->
<div class="container-fluid user">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12">
            <h2 style="color:#173E43"><b>Welcome</b></h2>
            <h2 style="color:#3FB0AC"><b>{{name}}</b></h2>
            <div>
                <button (click)="showNotifications()" class="btn btn-success mybutton">Notifications</button>
            </div>
        </div>
        <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div><h5><b>Boards</b></h5></div>
            <div *ngFor="let boards of boards; index as id">
                <div *ngIf=!boards.bookmark>
                <a 
                style="cursor : pointer;text-decoration:none;"
                [routerLink]="['/board',boardid[id]]"
                (click)=chkid(id)
                routerLinkActive="active"
                class="list-group-item clearfix box" style="margin-bottom:20px;">
                    <div class="pull-left box1">
                        <h4
                        class="list-group-item-heading name"
                        style="color:#DDDFD4;">{{boards.bName}}</h4>
                    </div>
                </a>
                </div>
            </div>
            <div class="list-group-item clearfix add">
                <div *ngIf=!wantaddboard class="name">
                    <button (click)=showinput() class="btn btn-primary">Add Board</button>
                </div>
                <div *ngIf=wantaddboard>
                    <form (ngSubmit)="addboard(f)" #f="ngForm">
                        <div class="form-group">
                            <label for="boardname">Board Name</label>
                            <input 
                            placeholder = "Enter Board Name"
                            type="text"
                            id="bName" 
                            name="bName"
                            ngModel
                            class="form-control" 
                            required
                            #bname="ngModel">
                            <span 
                            class="help-block"
                            *ngIf="!bname.valid && bname.touched"
                            style="color:red;">Enter a valid Board Name</span>
                        </div>
                        <button type="submit" class="btn btn-success mybutton" [disabled]="!f.valid">Add Board</button>
                    </form>
                </div>
            </div>
        </div>
        </div>
        <div class="container-fluid">
        <div class="row">
        <div class="col-lg-5">
            <div><h5><b>Favourites</b></h5></div>
            <div *ngFor="let boards of boards; index as id">
                <div *ngIf=boards.bookmark>
                <a 
                style="cursor : pointer;text-decoration:none;"
                [routerLink]="['/board',boardid[id]]"
                (click)=chkid(id)
                routerLinkActive="active"
                class="list-group-item clearfix box" style="margin-bottom:20px;">
                    <div class="pull-left box1">
                        <h4
                        class="list-group-item-heading name"
                        style="color:#DDDFD4;">{{boards.bName}}</h4>
                    </div>
                </a>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
<div *ngIf=shownotifications class="add-card-background">
    <div class="contain-activity-board">
        <div *ngFor="let notifications of notifications, index as id">
           <p>{{ notifications.notification }}</p>
           <!-- <p>{{ notifications.activityTime }}</p> -->
        </div>
        <button (click)="hideNotifications()" class="btn btn-primary">Close</button>
    </div>
</div>