input.ng-invalid.ng-touched {
    border : 2px solid red;
}
input {
    border-left: 3px solid #3FB0AC;
}
.box {
    position:relative;
    top:10rem;
    padding:10px 100px;
}
.head {
    text-align : center;
    color : #173E43;
}
.head h4{
    font-family: 'Fira Sans', sans-serif;
}
.mybutton {
    position:relative;
    left : 8em;
    padding : 6px 20px;
    border : 2px solid #4957FF;
    background-color : transparent;
    color : #4957FF;
    border-radius : 10px;
}
.mybutton:hover {
    background-color : #4957FF;
    color : white;
    border : 2px solid #4957FF; 
    transition: all 0.5s ease-in-out;
}
.foot {
    text-align:center;
    padding : 10px;
}
.size img{
    width : 30em;
}
.set {
    position:relative;
    top:10rem;
}
.man {
    margin-left : 50px;
    margin-top:20px;
    height : 35rem;
    width : 35rem;
}
.man2 {
    margin-left : 50px;
    margin-top:20px;
    height : 35rem;
    width : 30rem;
}
.mybutton:focus {
    outline:none;
}