input.ng-invalid.ng-touched {
    border : 2px solid red;
}
input {
    border-left: 3px solid #3FB0AC;
    width:25rem;
}
.loader {
    width:200px;
    height:200px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.loader-circle {
    width:calc(100% - 0.000001px);
    height:calc(100% - 0.000001px);
    border:8px solid #173E43;
    border-top:8px solid #3FB0AC;
    border-radius:50%;
    animation:rotate 5s linear infinite;
}
@keyframes rotate {
    100%{transform:rotate(360deg);}
}
.all {
    background:url(../../../assets/images/login.svg);
    background-size:cover;
    height:100vh;
}
.box {
    margin-top:15rem;
    border-radius: 10px;
    border-bottom: 5px solid #173E43;
    padding:10px 50px;
    width:25rem;
}
.head {
    text-align : center;
    color : #173E43;
}
.head h4{
    font-family: 'Fira Sans', sans-serif;
}
.mybutton {
    margin-left:10rem;
    padding : 6px 20px;
    border : 2px solid #3FB0AC;
    background-color : transparent;
    color : #3FB0AC;
    border-radius : 10px;
}
.mybutton:hover {
    background-color : #3FB0AC;
    color : white;
    border : 2px solid #3FB0AC; 
    transition: all 0.5s ease-in-out;
}
.foot {
    text-align:center;
    padding : 10px;
}
.mybutton:focus {
    outline:none;
}