<nav id="navigationbar" class="navbar navbar-light sticky">
    <a routerLink='/' class="navbar-brand logo" style="text-decoration:none; color:#3FB0AC">
        <!-- <img src="assets/images/T-logo.png" alt="TaskR" width="50px" height="50px" style="margin-right:10px;"> -->
        <h1><b><span style="color:#173E43">Task</span>R</b></h1>
    </a>
    <div class="nav-item">
        <a routerLink='/login'><button class="login mouseover">LogIn</button></a>
        <a routerLink='/signup'><button class="signup mouseover">SignUp</button></a>
    </div>
</nav>