<nav id="navigationbar" class="navbar navbar-light header">
    <a routerLink='/' class="navbar-brand" style="text-decoration:none; color:#DB3613">
        <img src="assets/images/T-logo.png" alt="TaskR" width="50px" height="50px" style="margin-right:10px;">
        <b><span style="color:#685B58">Task</span>R</b>
    </a>
    <div class="nav-item">
        <a routerLink='/login'><button class="login mouseover">LogIn</button></a>
        <a routerLink='/signup'><button class="signup mouseover">SignUp</button></a>
    </div>
</nav>